<mat-card>
  <form #contactForm="ngForm" (submit)="onUpdateContact(contactForm)">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="firstName"
        placeholder="First Name"
        ngModel
        required
        #fsName="ngModel"
      />
      <mat-error *ngIf="fsName.invalid">
        <strong>Please enter your first name</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="lastName"
        placeholder="Last Name"
        ngModel
        required
        #lsName="ngModel"
      />
      <mat-error *ngIf="lsName.invalid">
        <strong>Please enter you last name</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="email"
        name="email"
        placeholder="Email"
        ngModel
        required
        #email="ngModel"
      />
      <mat-error *ngIf="email.invalid">
        <strong>Please enter a valid E-Mail</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="tel"
        name="telephone"
        placeholder="phoneNumber"
        ngModel
        required
      />
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
      Update Contact
    </button>
  </form>
</mat-card>

<!-- {{ json }} -->
